<div class="row">
    <h1>お気に入り</h1>
        <table class = "table table-hover">
            <thead>
                <tr>
                    <th>名前</th>
                    <th>タイトル</th>
                    <th>ジャンル</th>
                    <th>写真</th>
                </tr>
            </thead>
            <% @favorites.each do |favorite| %>
            <tbody>
                <tr>
                <td><%= link_to favorite.tweet.user.name, (favorite.tweet.user) %></td>
                <td><%= link_to favorite.tweet.title,(favorite.tweet) %></td>
                <td><% favorite.tweet.genres.each do |genre| %>
                        <%= genre.type%>
                        <br>
                    <% end %></td>
                <td><%= link_to tweet_path(favorite.tweet) do %>
                        <%= attachment_image_tag favorite.tweet, :image, size: "50x50", format:"jpeg" %>
                    <% end %></td>
                </tr>
            </tbody>
            <% end %>
        </table>
</div>
