<div class="row">
<h1>Tweets</h1>
    <%= render 'tweets/search_form'%>
    <table class = "table table-hover" >
        <thead>
            <tr>
                <th>image</th>
                <th>Genre</th>
                <th>Title</th>
                <th>Name</th>
                <th>Comment</th>
                <th>Favorite</th>
            </tr>
        </thead>
            <tbody>
                <% @tweets.each do |tweet| %>
                <tr>
                    <td>
                        <%= link_to tweet_path(tweet) do %>
                            <%= attachment_image_tag tweet, :image, size: "50x50",format:"jpeg" %>
                        <% end %></td>
                    <td><% tweet.genres.each do |genre| %>
                            <%= genre.type %>
                            <br>
                        <% end %></td>
                    <td><%= link_to tweet.title, tweet %></td>
                    <td><%= link_to tweet.user.name, tweet.user %></td>
                    <td><%= fa_icon("comments",text: tweet.comments.count) %></td>
                    <td><%= fa_icon("heart",text: tweet.favorites.count) %></td>
                </tr>
                <% end %>
            </tbody>
    </table>
</div>
