<div class = "container">
<div class = "row" >
    <% @tweet.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
        <h1>New Tweet!!</h1>
        <%= form_for @tweet do |f| %>
            <table>
                <tr>
                    <th width="80"height="100"><%= f.label :image %></th>
                    <td><%= f.attachment_field :image %></td>
                </tr>
                <tr>
                    <th width="80"height="100"><%= f.label :Title %></th>
                    <td><%= f.text_field :title %></td>
                    </tr>
                <tr>
                    <th width="80"height="100"><%= f.label :Impression %></th>
                    <td><%= f.text_area :body, :size=>"60x3"%></td>
                </tr>
                <tr>
                    <th width="80"height="100"><%= f.label :Genre %></th>
                    <td><%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :type) do |b| %>
                            <%= b.label {b.check_box + b.text} %>
                        <% end %></td>
                    </tr>
            </table>
            <%= f.submit 'Tweet', class:"btn btn-info" %>
        <% end %>
</div>