<div class="container">
    <div class = "row" >
        <h1>検索結果</h1>
            <table class = "table" >
                <thead>
                    <tr>
                        <th>サムネ</th>
                        <th>ジャンル</th>
                        <th>タイトル</th>
                        <th>投稿者</th>
                        <th>コメント数</th>
                        <th>お気に入り数</th>
                    </tr>
                </thead>
                <tbody>
                    <% @tweets.each do |tweet| %>
                        <tr>
                            <td>
                                <%= link_to tweet_path(tweet) do %>
                                    <%= attachment_image_tag tweet, :image, size: "50x50",format:"jpeg",fallback: "sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg" %>
                                <% end %>
                            </td>
                            <td><% tweet.genres.each do |genre| %>
                                    <%= genre.type %>
                                    <br>
                                <% end %>
                            </td>
                            <td><%= link_to tweet.title, tweet %></td>
                            <td><%= link_to tweet.user.name, tweet.user %></td>
                            <td><%= fa_icon("comments",text: tweet.comments.count) %></td>
                            <td><%= fa_icon("heart",text: tweet.favorites.count) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= paginate @tweets %>
    </div>
</div>
