<h1>tweet show</h1>
    <div class = 'row'>
        <div>
            <%= attachment_image_tag @tweet, :image, size: "50x50" %>
            <%= @tweet.user.name %>
            <%= @tweet.title %>
            <%= @tweet.body %>
            <% if @tweet.user_id == current_user.id %>
                <%= link_to 'Destroy', @tweet, method: :delete, class: "btn-sm btn-danger" %>
            <% end %>
            <% if current_user.already_favorited?(@tweet) %>
                <%= link_to 'お気に入り解除', tweet_favorites_path(@tweet), method: :delete, class: "btn btn-warning" %>
            <% else %>
                <%= link_to 'お気に入り', tweet_favorites_path(@tweet), method: :post, class: "btn btn-primary" %>
            <% end %>
            <p>おきに入り数：<%= @tweet.favorites.count %></p>
        </div>
        
        <%= form_for [@tweet, @comment] do |f| %>
            <%= f.text_field :content %>
            <%= f.submit %>
        <% end %>

        <table class = "table" >
            <thead>
                <th>image</th>
                <th>name</th>
                <th>comment</th>
                <th></th>
                <th></th>
            </thead>
            <% @comments.each do |comment| %>
            <tbody>
                <td><%= attachment_image_tag comment.user, :profile_image, size: "50x50" %></td>
                <td><%= comment.user.name %></td>
                <td><%= comment.content %></td>
                <td><% if comment.user_id == current_user.id %>
                        <%= link_to 'Destroy', tweet_comments_path(comment.tweet.id, comment.id), method: :delete, class: "btn-sm btn-danger" %>
                    <% end %>
                </td>
            </tbody>
            <% end %>

        </table>
            
    </div>


