<h1>つぶやき</h1>
    <div class = 'row'>
        <div>
            <span><%= attachment_image_tag @tweet, :image, size: "50x50" %></span>
            <span><%= @tweet.user.name %></span>
            <span><%= @tweet.title %></span>
            <span><%= @tweet.body %></span>
            <span class="favorite">
                <% if @tweet.user_id == current_user.id %>
                    <%= link_to 'Destroy', @tweet, method: :delete, class: "btn-sm btn-danger" %>
                <% end %>
                <% if current_user.already_favorited?(@tweet) %>
                    <%= link_to 'お気に入り解除', tweet_favorites_path(@tweet), method: :delete, class: "btn btn-warning" %>
                <% else %>
                    <%= link_to 'お気に入り', tweet_favorites_path(@tweet), method: :post, class: "btn btn-primary" %>
                <% end %>
            </span>
            <p>ジャンル:
                <% @tweet.genres.each do |genre| %>
                    <%= genre.type %>
                <% end %>
            </p>
        </div>
        <div>
            <%= form_for [@tweet, @comment] do |f| %>
                <%= f.text_field :content %>
                <%= f.submit 'コメントする' %>
            <% end %>
        </div>
        

        <table class = "table table-hover" >
            <thead>
                <th>写真</th>
                <th>名前</th>
                <th>コメント</th>
                <th></th>
                <th></th>
            </thead>
            <% @comments.each do |comment| %>
            <tbody>
                <td><%= attachment_image_tag comment.user, :profile_image, size: "50x50" %></td>
                <td><%= comment.user.name %></td>
                <td><%= comment.content %></td>
                <td><% if comment.user_id == current_user.id %>
                        <%= link_to 'コメント削除', tweet_comments_path(comment.tweet.id, comment.id), method: :delete, class: "btn-sm btn-danger" %>
                    <% end %>
                </td>
            </tbody>
            <% end %>

        </table>
            
    </div>


