<h1>つぶやき</h1>
    <div class = 'row'>
        <div>
            <span><%= attachment_image_tag @tweet, :image, size: "50x50" %></span>
            <strong><%= @tweet.user.name %></strong>
            <span><%= @tweet.title %></span>
            <span><%= @tweet.body %></span>
            <span class="favorite">
                <% if current_user.already_favorited?(@tweet) %>
                    <%= link_to tweet_favorites_path(@tweet), method: :delete  do %>
                        <i class="fa fa-heart unfavorite-btn"></i>
                    <% end %>
                <% else %>
                    <%= link_to tweet_favorites_path(@tweet), method: :post do %>
                        <i class="fa fa-heart favorite-btn"></i>
                    <% end %>
                <% end %>
            </span>
            <p>ジャンル
                <% @tweet.genres.each do |genre| %>
                    <%= genre.type %>
                <% end %>
            </p>
        </div>
        <div>
            <%= form_for [@tweet, @comment] do |f| %>
                <%= f.text_field :content %>
                <%= f.submit 'コメントする' %>
            <% end %>
        </div>
        

        <table class = "table table-hover" >
            <thead>
                <th>写真</th>
                <th>名前</th>
                <th>コメント</th>
                <th></th>
                <th></th>
            </thead>
            <% @comments.each do |comment| %>
            <tbody>
                <td><%= attachment_image_tag comment.user, :profile_image, size: "50x50" %></td>
                <td><%= link_to comment.user.name, comment.user %></td>
                <td><%= comment.content %></td>
                <td><% if comment.user_id == current_user.id %>
                        <%= link_to 'コメント削除', tweet_comments_path(comment.tweet.id, comment.id), method: :delete, class: "btn-sm btn-danger" %>
                    <% end %>
                </td>
            </tbody>
            <% end %>
        </table>
            
    </div>


