<h1>user show</h1>
    <% if flash[:notice] %>
        <%= flash[:notice] %>
    <% end %>
    <div class = "row">
        <div class = "col-xs-3" >
            <table class = "table"> 
                <tr>
                    <th>image</th>
                    <td><%= attachment_image_tag @user, :profile_image, size: "100x100",format:"jpeg" %></td>
                </tr>
                <tr>
                    <th>name</th>
                    <td><%= @user.name %></td>
                </tr>
                <tr>
                    <th>introduction</th>
                    <td><%= @user.introduction %></td>
                </tr>
                <tr>
                    <td><%= link_to 'favorites', favorites_index_path(@favorites), class: "btn btn-default" %></td>
                </tr>
                    <td><%= link_to 'edit', edit_user_path,  class: "btn btn-default" %></td>
            </table>
        </div>
        <div class = 'col-xs-9' >
            <table class = "table" >
                <thead>
                    <tr>
                        <th>image</th>
                        <th>genre</th>
                        <th>title</th>
                        <th>name</th>
                        <th>comment</th>
                        <th>favorite</th>
                    </tr>
                </thead>
                <tbody>
                <% @tweets.each do |tweet| %>
                    <tr>
                        <td>
                            <%= link_to tweet_path(tweet) do %>
                                <%= attachment_image_tag tweet, :image, size: "50x50",format:"jpeg" %>
                            <% end %>
                        </td>
                        <td><% tweet.genres.each do |genre| %>
                                <%= genre.type %>
                                <br>
                            <% end %></td>
                        <td><%= link_to tweet.title, tweet %></td>
                        <td><%= tweet.user.name %></td>
                        <td><%= tweet.comments.count %></td>
                        <td><%= tweet.favorites.count %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>

