<!DOCTYPE html>
<html>
  <head>
    <title>Ahappy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "container">
        <div class = "row">
          <nav>
          <% if user_signed_in? %>
            <div class = "col-xs-3 col-xs-offset-5"><%= link_to 'あ!!happy', root_path %></div>
            <div class = "col-xs-1"><%= link_to 'マイページ', user_path(current_user) %></div>
            <div class = "col-xs-1"><%= link_to 'みんなの投稿', tweets_path %></div>
            <div class = "col-xs-1"><%= link_to 'つぶやく', new_tweet_path %></div>
            <div class = "col-xs-1"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
          <% else %>
            <div class = "col-xs-3 col-xs-offset-5"><%= link_to 'あ!!happy', root_path %></div>
            <div class = "col-xs-1" ><%= link_to 'アバウト' %></div>
            <div class = "col-xs-1" ><%= link_to 'サインアップ', new_user_registration_path %></div>
            <div class = "col-xs-1" ><%= link_to 'ログイン', new_user_session_path %></div>
          <% end %>
          </nav>
        </div>
      </div>
    </header>

    <div class = "container">
      <%= yield %>
    </div>
  </body>
</html>
